__pycache__
/env_*
.~*.*
*.*~
*.egg-info
*.log
*.pot
*.pyc
*.py~
*.sublime-project
*.sublime-workspace
/data/*
!/data/.gitkeep
!/media/.gitkeep
/scripts
/staticfiles/*
!/staticfiles/.gitkeep
/media/*
!/media/.gitkeep
/sites
/tmp
.coverage
**/.idea/workspace.xml
**/.idea/tasks.xml
/.vscode
/htmlcov
*.sqlite*
/celerybeat-schedule
/email/*
!/email/.gitkeep
/cache/*.djcache
/sessions/sessionid*
/node_modules
/.env*
/restart_project.sh
/upgrade_project.sh
/.well-known
/*.session
/ngrok
*.csv
/celerybeat-schedule.db
/*_config.json
.DS_Store
/venv/*
/.idea/*
src/google-stt-keys.json
