amazon-transcribe
azure-cognitiveservices-speech
cffi>=1.15
channels
channels-redis
deepgram-sdk
django-debug-toolbar
django-extensions
django-redis-cache
django==4.1
djangochannelsrestframework
djangorestframework
drf-yasg
drf-yasg[validation]
freezegun
google-cloud-speech
gunicorn
markdown
markdown-urlize
pillow
psycopg2
pyOpenSSL
pyparsing
python-decouple
redis
requests
sentry-sdk
shortuuid
uvicorn[standard]
watchgod
werkzeug
whitenoise